*{
    margin:0;
    padding:0;
}

.container{
    background-color:rgb(252,196,124) ;
}
.recipe{
    border-radius: 5px;
    background-color: bisque;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
